:root {
  /* Font stack */
  --font-stack: 'Inter', sans-serif;

  /* Font sizes */
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-large: 13px;
  --font-size-xlarge: 14px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* Lineheight */
  --font-line-height: 16px; /* Use For xsmall, small font sizes */
  --font-line-height-large: 24px; /* Use For large, xlarge font sizes */

  /* BORDER RADIUS */
  --border-radius-small: 2px;
  --border-radius-med: 5px;
  --border-radius-large: 6px;

  /* SPACING + SIZING */
  --size-xxxsmall: 4px;
  --size-xxsmall: 8px;
  --size-xsmall: 16px;
  --size-small: 24px;
  --size-medium: 32px;
  --size-large: 40px;
  --size-xlarge: 48px;
  --size-xxlarge: 64px;
  --size-huge: 80px;
}

button {
  border: none;
  // margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

input[type='color'] {
  appearance: none;
  border: none;
  padding: 0;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body,
input[type='text'] {
  font-family: var(--font-stack, 'Inter', sans-serif);
  font-size: var(--font-size-xsmall, 11px);
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--font-line-height, 16px);
  color: var(--figma-color-text, #333);
}

input[disabled] {
  color: var(--figma-color-text-secondary, rgba(0, 0, 0, 0.8));
}
